<div class="container">
	<h3>Account Listing</h3>
	<table class='table table-hover table-condensed'>
	<tr>

	<th> name </th>

	<th> age </th>

	<th> email </th>

	<th></th>
	<th></th>
	<th></th>
</tr>
	<% _.forEach(accounts, function(account) { %>
    		<tr data-id="<%=account.id %>" data-model="account">
		
			<td><%= account.name%></td>
		
			<td><%= account.age%></td>
		
			<td><%= account.email%></td>
		
			<td><a href="/account/show/<%=account.id %>"  class="btn btn-primary btn-sm" role="button">Show</a></td>
			<td><a href="/account/edit/<%=account.id %>"  class="btn btn-primary btn-sm" role="button">Edit</a></td>

			<td><form action="/account/destroy/<%=account.id %>" method="POST">
				<input type="hidden" name="_method" value="delete"/>
				<input type="submit" value="Delete"  class="btn btn-danger btn-sm" role="button"/>
			</form></td>
		</tr>
<% }) %>
	</table>
	<a href="/account/new/" class="btn btn-success btn-sm" role="button">New Account</a> |
	<a href="/">all scaffolds</a>
</div>