<div class="container">
	<div class="row">
		<div class="col-xs-12 ">
			<h1 class="h1 font-bold"><i class="fa fa-user "></i> <%= user.name %></h1>
			<hr>
			<h2>  <i class="fa fa-file-code-o"></i> <%= __('Pastes') %> </h2>
			<table class="table table-bordered table-condensed">
				<thead>	
					<tr>
						<th><%= __('Name') %> </td>
						<th><%= __('Language') %> </td>
						<th><%= __('Created') %> </td>
						<th><%= __('Updated') %> </td>
					</tr>
				</thead>
				<tbody>
				<% user.pastes.forEach(function(paste) { %>
					<tr>
						<td><a pjax href="<%= paste.toJSON().link %>"> <%= paste.name %> </a></td>
						<td><%= paste.language %></td>
						<td><date source="<%= paste.createdAt %>"></date></td>
						<td><date source="<%= paste.updatedAt %>"></date></td>
				    </tr>
				<% }); %>
				</tbody>
			</table>

		</div>
    </div>
</div> 
