<div class="container">
	<div class="row">
  		<div class="col-sm-10">
  		<a pjax class="h1 font-bold" href="<%= user.getLink() %>"><h1><%= user.name %></h1></a>
  		</div>
    	<div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="<%= user.getGravatar({s:120}) %>"></a></div>
    </div>
    <div class="row">
  		<div class="col-sm-3">
          <ul class="list-group">
            <li class="list-group-item text-muted"><i class="fa fa-user fa-1x"></i> <%= __('Profile') %> </li>

            <li class="list-group-item text-right">
            	<span class="pull-left"><strong><%= __('Joined') %> </strong></span> 
            	<%-: user.createdAt | dateComponent %>
            </li>
            <li class="list-group-item text-right"><span class="pull-left">
            	<strong><%= __('Last Seen') %> </strong></span> <%-: user.updatedAt | dateComponent %></date>
            </li>
            <li class="list-group-item text-right">
            	<span class="pull-left"><strong><%= __('Username') %></strong></span> <%= user.username %>
            </li>
          </ul>
          <ul class="list-group">
            <li class="list-group-item text-muted"> <i class="fa fa-dashboard fa-1x"></i> <%= __('Activity') %>  </li>
            <li class="list-group-item text-right"><span class="pull-left"><strong><%= __('Pastes') %> </strong></span> <%= user.pastes.length %></li>
          </ul>
        </div>
    	<div class="col-sm-9">
          <ul class="nav nav-tabs" id="tabs">
            <li class="active"><a href="#pastes" data-toggle="tab">
            	<i class="fa fa-file-code-o"></i> <%= __('Pastes') %> </a>
            </li>
            <li><a href="#feed" data-toggle="tab">Activity</a></li>
            
          </ul>
              
          <div class="tab-content">
            <div class="tab-pane active" id="pastes">
              <div class="table-responsive">
                <table class="table table-hover">
									<thead>	
										<tr>
											<th><%= __('Name') %> </td>
											<th><%= __('Language') %> </td>
											<th><%= __('Created') %> </td>
											<th><%= __('Updated') %> </td>
										</tr>
									</thead>
									<tbody>
									<% user.pastes.forEach(function(paste) { %>
										<tr>
											<td><a pjax href="<%= paste.getLink() %>"> <%= paste.name %> </a></td>
											<td><%= paste.language %></td>

											<td><%-: paste.createdAt | dateComponent %></td>
											<td><%-: paste.updatedAt | dateComponent %></td>
									    </tr>
									<% }); %>
									</tbody>
								</table>
                
              </div>
              <hr>
             </div>
             <div class="tab-pane" id="feed">
               <div class="table-responsive">
                <table class="table table-hover">
                  <!--
                  <tbody>
                    <tr>
                      <td><i class="pull-right fa fa-edit"></i> Today, 1:00 - Jeff Manzi liked your post.</td>
                    </tr>
                    <tr>
                      <td><i class="pull-right fa fa-edit"></i> Today, 12:23 - Mark Friendo liked and shared your post.</td>
                    </tr>
                    <tr>
                      <td><i class="pull-right fa fa-edit"></i> Today, 12:20 - You posted a new blog entry title "Why social media is".</td>
                    </tr>
                    <tr>
                      <td><i class="pull-right fa fa-edit"></i> Yesterday - Karen P. liked your post.</td>
                    </tr>
                    <tr>
                      <td><i class="pull-right fa fa-edit"></i> 2 Days Ago - Philip W. liked your post.</td>
                    </tr>
                    <tr>
                      <td><i class="pull-right fa fa-edit"></i> 2 Days Ago - Jeff Manzi liked your post.</td>
                    </tr>
                  </tbody>
                </table>
                !>
              </div>                    
             </div>
          </div>
        </div>
    </div>