<div class="container"> 
    <div class="row">
		<div class="col-xs-8 ">
			<div class="code"> 
				<pre><%= paste.content %></pre>
			</div>
		</div>
		<div class="col-xs-4 ">
    		<h1><i class="fa fa-file-code-o "></i> <%= paste.name %></h1>
    		<hr>
			<p><i class="fa fa-code "></i> <%= paste.language %></p>
			<p><i class="fa fa-user "></i> <a href="<%= paste.owner.toJSON().link %>"><%= paste.owner.name %> </a></p>
			<p><i class="fa fa-calendar "></i> <%= paste.createdAt %></p>
			<p><i class="fa fa-calendar "></i> <%= paste.updatedAt %></p>
    	</div>
    </div>
</div> 
