<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"> 
                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar">
                </span>
            </button> 
                <a class="navbar-brand" href="/"><i class="fa fa-terminal"></i> <%= __('projectName') %></a>
            </div>
            
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav hidden-xs">
                    <li class="dropdown">
                        <a href="#" id="aside-toggle">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                </ul>
                <form class="navbar-form navbar-left input-s-lg m-t m-l-n-xs hidden-xs" role="search">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control input-sm " placeholder="">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-sm bg-white b-white btn-icon">
                                   <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/about/statistics"><i class="fa fa-bar-chart-o"></i> <%= __('Statistics') %></a></li>
                    <li><a href="/about/roadmap"><i class="fa fa-road"></i> <%= __('Roadmap') %></a></li>
                    <% if (req.isAuthenticated()) { %>
                        <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= req.user.name %><strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li><a href="/me/pastes"><i class="fa fa-file-code-o"></i> <%= __('Pastes') %></a></li>
                                <li class="divider"></li>
                                <li><a href="/account"><i class="fa fa-user"></i> <%= __('My Info') %></a></li>
                                <li><a href="/account/settings"><i class="fa fa-cogs"></i> <%= __('Settings') %></a></li>
                                <li class="divider"></li>
                                <li><a href="/auth/logout"><i class="fa fa-sign-out"></i> <%= __('Logout') %></a></li>
                            </ul>
                        </li>
                    <% } else { %>
                        <li><a href=""><i class="fa fa-"></i> <%= __('Trends') %></a></li>
                        <li><a href="/auth/sign-in"><i class="fa fa-sign-in"></i> <%= __('Sign-in') %></a></li>
                    <% }  %>                

                </ul>
            </div>
            
        </nav>
    </div>